* {
    box-sizing: border-box;
}

html {
    background: white;
    color: #252525;
    min-width: 600px;
}

html,
a,
button,
option,
select {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

body {
    padding: 15px;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

h1 small {
    font-weight: normal;
    display: block;
}

h2 {
    margin: 0;
}

a {
    color: #252525;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: none;
}

.boxes {
    display: flex;
    columns: 3;
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em;
}

.box-style {
    border: solid 1px #dedede;
    border-radius: 8px;
    padding: 15px;
}

.box {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes-2 .box {
    width: calc(100% / 2);
}

.button {
    background: #252525;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.store {
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
}

.product {
    width: 40%;
}

.product-images {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #dedede;
}

.product-images svg {
    width: 50px;
    height: auto;
    color: white;
}

.product h2 {
    margin: 15px 0;
}

.dummy {
    margin: 25px 0;
}

.dummy .line {
    display: block;
    background: #dedede;
    height: 25px;
    margin: 15px 0;
    border-radius: 5px;
}

.dummy .line-1 {
    margin-bottom: 50px;
}

.dummy .line-2 {
    width: 80%;
}

.dummy .line-3 {
    width: 90%;
}

.dummy .line-4 {
    width: 60%;
}

.product label {
    margin: 25px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#choozr {
    margin: 25px 0;
}

.return-data {
    display: none;
}

.data {
    margin: 15px -15px;
    padding: 15px;
    position: relative;
    background: repeating-linear-gradient(45deg, #ede4f5, #ede4f5 10px, #ffffff00 10px, #ffffff00 20px);
    border-top: solid 10px #ede4f5;
    border-bottom: solid 10px #ede4f5;
}